PORT = "8000"
CONNECTION_URL = "mongodb://tejnarayan:manishkumar2002@ac-b5luh8w-shard-00-00.tvydn02.mongodb.net:27017,ac-b5luh8w-shard-00-01.tvydn02.mongodb.net:27017,ac-b5luh8w-shard-00-02.tvydn02.mongodb.net:27017/?ssl=true&replicaSet=atlas-rzjxya-shard-0&authSource=admin&retryWrites=true&w=majority"
JWT_SECRET = "This could be anything like test"